body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  .navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-bottom: 1px solid black;
    font-size: 16px;
  }
  
  .nav-menu {
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    margin-left: 30px;
  }
  
  .nav-items {
    min-height: 70px;
    border-right: 1px solid black;
    padding-top: 30px;
    margin-left: -15px;
  }
  
  .nav-links {
    transition: 0.7s ease;
    padding-right: 25px;
  }
  
  .nav-links:hover {
    color: dodgerblue;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
    background-color: black;
  }
  
  #logo-image {
    height: 27px;
    margin-right: 36px;
    margin-top: -8px;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }
  
  .fa-solid.fa-bars {
    font-size: 36px;
  }
  
  .fa-regular.fa-user {
    min-height: 70px;
    padding-top: 30px;
    margin-left: 29px;
    border-right: 1px solid black;
    padding-right: 50px;
    margin-top: -10px;
  }



  